{% extends "base.html" %}
{% load static %}
{% block content %}


    <!-- SECTION BANNER -->
    <div class="section-banner">
        <!-- SECTION BANNER ICON -->
        <img class="section-banner-icon" src="{% static 'img/banner/events-icon.png' %}" alt="events-icon">
        <!-- /SECTION BANNER ICON -->

        <!-- SECTION BANNER TITLE -->
        <p class="section-banner-title">Screening Test</p>
        <!-- /SECTION BANNER TITLE -->

        <!-- SECTION BANNER TEXT -->
        <p class="section-banner-text">Just a simple Ear Health test!</p>
        <!-- /SECTION BANNER TEXT -->
    </div>
    <!-- /SECTION BANNER -->

    <!-- SECTION HEADER -->
    <div class="section-header">
        <!-- SECTION HEADER INFO -->
        <div class="section-header-info">
            <!-- SECTION PRETITLE -->
            <p class="section-pretitle" style="margin-left:100px;">Note : These tests are not accurate and you can
                locate and consult a doctor for through and accurate diagnosis.!</p>
            <!-- /SECTION PRETITLE -->

            <!-- SECTION TITLE -->
            <h2 class="section-title" style="margin-left:100px;">Ear Hearing Test</h2>
            <!-- /SECTION TITLE -->
        </div>
        <!-- /SECTION HEADER INFO -->
    </div>
    <!-- /SECTION HEADER -->

    <br>
    <form class="screen-form">

        <!-- POLL BOX -->
        <div class="poll-box" style="width: 1000px;margin-left:100px;">
            <!-- POLL TITLE -->
            <p class="poll-title">I have trouble hearing the other person on the phone.</p>
            <!-- /POLL TITLE -->
            <br>
            <!-- FORM -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="poll-option-1" name="1" value="3" checked>
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="poll-option-1">Yes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="poll-option-2" name="1" value="2">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="poll-option-2">Sometimes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="poll-option-3" name="1" value="1">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="poll-option-3">No</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- /FORM -->

            <br>
            <hr>
            <br>


            <!-- POLL TITLE -->
            <p class="poll-title">It seems like everyone around me mumbles.</p>
            <!-- /POLL TITLE -->
            <br>


            <!-- FORM -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn21" name="2" value="3" checked>
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn21">Yes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn22" name="2" value="2">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn22">Sometimes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn23" name="2" value="1">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn23">No</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- /FORM -->

            <br>
            <hr>
            <br>

            <!-- POLL TITLE -->
            <p class="poll-title">I have a difficult time understanding people in noisy environments.</p>
            <!-- /POLL TITLE -->
            <br>


            <!-- FORM -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn31" name="3" value="3" checked>
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn31">Yes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn32" name="3" value="2">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn32">Sometimes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn33" name="3" value="1">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn33">No</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- /FORM -->
            <br>
            <hr>
            <br>


            <!-- POLL TITLE -->
            <p class="poll-title">I often ask people to repeat themselves.</p>
            <!-- /POLL TITLE --><br>

            <!-- FORM -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn41" name="4" value="3" checked>
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn41"> Yes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn42" name="4" value="2">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn42">Sometimes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn43" name="4" value="1">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn43">No</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- /FORM -->
            <br>
            <hr>
            <br>

            <p class="poll-title">People complain that I have the TV or radio volume turned up too loud.</p>
            <br>


            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn51" name="5" value="3" checked>
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn51"> Yes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn52" name="5" value="2">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn52">Sometimes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn53" name="5" value="1">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn53">No</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- /FORM -->
            <br>
            <hr>
            <br>
            <p class="poll-title">I can hear, just not clearly.</p>            <br>


            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn61" name="6" value="3" checked>
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn61">Yes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn62" name="6" value="2">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn62">Sometimes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn63" name="6" value="1">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn63">No</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- /FORM -->
            <br>
            <hr>
            <br>
            <p class="poll-title">I have difficulty understanding young children and women's voices.</p>            <br>

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn71" name="7" value="3" checked>
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn71">Yes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn72" name="7" value="2">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn72">Sometimes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn73" name="7" value="1">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn73">No</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- /FORM -->
            <br>
            <hr>
            <br>
            <p class="poll-title">I hear a ringing or buzzing sound in my ears.</p>            <br>


            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn81" name="8" value="3" checked>
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn81">Yes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn82" name="8" value="2">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn82">Sometimes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn83" name="8" value="1">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn83">No</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- /FORM -->
            <br>
            <hr>
            <br>
            <p class="poll-title">I can't understand someone when I'm not facing them directly.</p>            <br>


            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn91" name="9" value="3" checked>
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn91">Yes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn92" name="9" value="2">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn92">Sometimes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn93" name="9" value="1">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn93">No</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- /FORM -->
            <br>
            <hr>
            <br>
            <p class="poll-title">I get frustrated because I have trouble hearing.</p>
            <br>


            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn101" name="101" value="3" checked>
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn101">Yes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn102" name="101" value="2">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn102">Sometimes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn103" name="101" value="1">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn103">No</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- /FORM -->
            <br>
            <hr>
            <br>
            <p class="poll-title">I have a difficult time following conversations.</p>
            <br>


            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn111" name="111" value="3" checked>
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn111">Yes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn112" name="111" value="2">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn112">Sometimes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn113" name="111" value="1">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn113">No</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- /FORM -->
            <br>
            <hr>
            <br>
            <p class="poll-title">My friends and family complain that I'm not hearing well.</p>            <br>


            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn121" name="121" value="3" checked>
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn121">Yes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn122" name="121" value="2">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn122">Sometimes</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- CHECKBOX WRAP -->
                    <div class="checkbox-wrap">
                        <input type="radio" id="qn123" name="121" value="1">
                        <!-- CHECKBOX BOX -->
                        <div class="checkbox-box round"></div>
                        <!-- /CHECKBOX BOX -->
                        <label for="qn123">No</label>
                    </div>
                    <!-- /CHECKBOX WRAP -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- /FORM -->
            <br>
            <hr>
            <br>

            <!-- BUTTON -->
            <a class="button twitch" id="srceenTest" href="#" style="width: 300px">
                Get Your Results!!!
            </a>
            <!-- /BUTTON -->


        </div>
        <!-- /POLL BOX -->

        {#    <button type="submit" class="btn btn-primary srceenTest" id="srceenTest">Submit</button>#}

    </form>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <script>
        document.getElementById('srceenTest').addEventListener('click', function (e) {
            e.preventDefault();
            var score = [];
            for (i = 1; i <= 12; i++) {
                let t = document.getElementsByName(String(i));
                t.forEach(radio => {
                    if (radio.checked) score.push(parseInt(radio.value))
                });
            }
            console.log(score);
            const sumScore = (accumulator, currentValue) => accumulator + currentValue;
            const min = 0;
            const max = 36;
            const total = score.reduce(sumScore);
            console.log(total);
            const finalScore = ((total - min) / (max - min)) * 100;
            console.log(parseInt(finalScore));

            if (finalScore > 66) {
                {#document.getElementById('Score').innerHTML ='The Percentage shows level of Depression : '+String(parseInt(finalScore))+'%';#}
                swal.fire({
                    title: String(parseInt(finalScore)) + '%',
                    text: "Your results indicate that you have good hearing health",
                    icon: "success",
                    button: "Okay!",

                });
                {#document.getElementById('Score').innerHTML ='The Percentage shows level of Depression : '+String(parseInt(finalScore))+'%';#}
            } else if (finalScore > 33) {
                swal.fire({
                    title: String(parseInt(finalScore)) + '%',
                    text: "Although your results do not indicate that you have hearing loss, It's important to schedule regular hearing exams.",
                    icon: "warning",
                    button: "Okay!",
                });
            } else {
                swal.fire({
                    title: String(parseInt(finalScore)) + '%',
                    text: "Many of your responses indicate that you likely have hearing loss.",
                    icon: "warning",
                    button: "Okay!",
                });
            }
        })
    </script>


    {#    <!-- POLL BOX -->#}
    {#              <div class="poll-box">#}
    {#                <!-- POLL TITLE -->#}
    {#                <p class="poll-title">Do you experience any of the below symptoms?</p>#}
    {#                <!-- /POLL TITLE -->#}
    {##}
    {#                <!-- FORM -->#}
    {##}
    {#                  <!-- FORM ROW -->#}
    {#                  <div class="form-row split">#}
    {#                    <!-- FORM ITEM -->#}
    {#                    <div class="form-item">#}
    {#                      <!-- CHECKBOX WRAP -->#}
    {#                      <div class="checkbox-wrap">#}
    {#                        <input type="radio" id="poll-option-1" name="poll_option" value="2">#}
    {#                        <!-- CHECKBOX BOX -->#}
    {#                        <div class="checkbox-box round"></div>#}
    {#                        <!-- /CHECKBOX BOX -->#}
    {#                        <label for="poll-option-1">Male</label>#}
    {#                      </div>#}
    {#                      <!-- /CHECKBOX WRAP -->#}
    {#                    </div>#}
    {#                    <!-- /FORM ITEM -->#}
    {#                      <div class="form-item">#}
    {#                      <!-- CHECKBOX WRAP -->#}
    {#                      <div class="checkbox-wrap">#}
    {#                        <input type="radio" id="poll-option-1" name="poll_option" value="2" >#}
    {#                        <!-- CHECKBOX BOX -->#}
    {#                        <div class="checkbox-box round"></div>#}
    {#                        <!-- /CHECKBOX BOX -->#}
    {#                        <label for="poll-option-1">Male</label>#}
    {#                      </div>#}
    {#                      <!-- /CHECKBOX WRAP -->#}
    {#                    </div>#}
    {#                    <!-- /FORM ITEM -->#}
    {#                  </div>#}
    {#                  <!-- /FORM ROW -->#}
    {##}
    {#                  <!-- FORM ROW -->#}
    {#                  <div class="form-row">#}
    {#                    <!-- FORM ITEM -->#}
    {#                    <div class="form-item">#}
    {#                      <!-- CHECKBOX WRAP -->#}
    {#                      <div class="checkbox-wrap">#}
    {#                        <input type="radio" id="poll-option-2" name="poll_option" value="1" >#}
    {#                        <!-- CHECKBOX BOX -->#}
    {#                        <div class="checkbox-box round"></div>#}
    {#                        <!-- /CHECKBOX BOX -->#}
    {#                        <label for="poll-option-2">Female</label>#}
    {#                      </div>#}
    {#                      <!-- /CHECKBOX WRAP -->#}
    {#                    </div>#}
    {#                    <!-- /FORM ITEM -->#}
    {#                  </div>#}
    {#                  <!-- /FORM ROW -->#}
    {##}
    {#              </div>#}
    {#              <!-- /POLL BOX -->#}






{% endblock content %}
